@media (max-width: 480px) {
  .search-form {
    flex-direction: column;
    gap: 0;
  }

  .modal-dialog {
    max-width: 95%;
  }
  .modal-content {
    transform: scale(0.9);
  }

  .modal-body .pokemon-modal-img {
    width: 80px;
    height: 80px;
  }

  .stat-label {
    flex: 0 0 80px;
    font-size: 16px;
  }

  .stat-value {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 0.5rem;
    max-width: 95%;
  }

  .modal-body {
    padding: 1rem;
  }

  .modal-body .pokemon-modal-img {
    width: 80px;
    height: 80px;
  }

  .modal-title {
    font-size: 1rem;
  }

  .stats-container {
    width: 100%;
  }

  .stat-label {
    flex: 0 0 60px;
  }

  .modal-footer {
    padding: 0.5rem;
  }

  .modal-footer .btn-secondary {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 90%;
    margin: 0 auto;
  }

  .modal-content {
    transform: scale(0.95);
  }

  .modal-body .pokemon-modal-img {
    width: 100px;
    height: 100px;
  }

  .stats-container {
    width: 100%;
  }
}
